<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/cart.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <!-- Nav bar -->
  <% include ./partials/_navbar %>

  <div class="container order">

    <div class="row">
      <div class="col-12">
        <form method="POST" action="/order">
          <input type="submit" class="checkout" class="btn btn-primary btn-lg" value="Checkout"></input>
        </form>
        <a href="/user/menu" class="back">← Keep Shopping</a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <img class="img-responsive" src="http://placehold.it/120x80">
      </div>

      <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12">
        <ul class="item-info">
          <li class="item-name">Chocolate Cupcake</li>
          <li class="item-price">$4.99</li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-10 col-xs-2">
        <ul class="adjust-item">
          <li>
            <input type="number" class="form-control text-center" value="1">
          </li>
          <li>
            <form method="DELETE" action="/order/***ORDER ID">                  <!-- add order id variable -->
              <input type="button" class="delete-item" value="Remove"></input>
          </li>
        </ul>
      </div>

      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 text-right">
        <span class="item-subtotal">$14.97</span>
      </div>

    </div>

    <div class="row">
      <div class="col-12 text-right">
        Total $14.97
      </div>
    </div>




  </div>


  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
