body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

}

.order {
  margin-top: 50px;
  background-color: #eee;
  padding-bottom: 50px;

  li {
    list-style-type: none;

  }

  .row {
    margin: 15px 0 15px 0;
    padding: 10px 0;
    border-bottom: thin solid #ccc;

    img {
      float: left;
      max-width: 100%;
    }

    .item-info {
      display: inline-block;
      padding-left: 0px;
      margin-top: 10px;

      .item-name {
        vertical-align: top;
        font-style: italic;
      }
      .item-price {
        vertical-align: center;
        left: 0px;
        margin-top: 10px;
      }
    }

    .adjust-item {
      display: inline-block;
      padding-left: 0px;

      .form-control {
        width: 60px;
      }

      .delete-item {
        background-color: inherit;
        border: none;
        margin-top: 10px;

      }
      .delete-item:hover {
        color: red;
      }

    }
    .item-subtotal {

    }

  }

  .back {
    float: left;
    border: none;
    // padding: 0 20px;
    background-color: inherit;
    color: #666;
    margin-top: 5px;
  }
  .back:hover {
    color: #111;
    text-decoration: none;
  }

  .checkout {
    float: right;
    border-radius: 5px;
    font-size: large;
    background-color: #6F90A2;
    color: white;
    padding: 0 15px;
    }

  .checkout:hover {
    background-color: #477187;
  }
}
