
#nav-bar {
  background-color: black;
  color: white;

  h2, a {
    color: white;
  }
}


.nav-bar h1 {
  font-size: xx-large;
}

.nav-bar li {
  font-size: x-large;
}

.nav-bar a {
  color: white;
}
