
#nav-bar {
  background-color: #28784D;
  color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
  padding-top: 1em;


  h2, a {
    color: white;
  }
}


.nav-bar h1 {
  font-size: xx-large;
}

.nav-bar li {
  font-size: x-large;
}

.nav-bar a {
  color: white;
}
