body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

  .order{
    margin-top: 50px;
    padding: 10px 0;
    background-color: #eee;


    .title {
      font-size: large;
      padding-bottom: 10px;
    }

    .eta {
      padding-bottom: 10px;
    }

    .order-id {
      padding-bottom: 10px;
    }

    .totals {
      padding-top: 10px;
    }
  }



}
