body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

  .order{
    background-color: #eee;
    margin-top: 50px;
    padding-top: 10px;


    .title {
    }
  }



}
